In [1]:
# Block and indentation

In [37]:
# Doc String and Comment
print("This is Comments bellow to understand letter")

This is Comments bellow to understand letter

In [40]:
# this is new coomment 
# MultiLine Comments
#comments 
'''this is new course
you have to watch it first'''

'this is new course\nyou have to watch it first'

In [6]:
# variables
temp = 10

In [7]:
temp

10

In [8]:
temp  ="gfdfgsd"

In [9]:
temp

'gfdfgsd'

In [10]:
age = 12
age  = "Hassan"
age

'Hassan'

In [11]:
myAge = age
myAge = 18

In [12]:
myAge

18

In [13]:
x  =12
y = x
print(x)
print(y)

12
12

In [14]:
y = 34

In [17]:
print("The value of x:",x)
print("The value of y:",y)

The value of x: 12
The value of y: 34

In [18]:
x = y

In [19]:
3 + 5

8

In [21]:
# # in c 
# int,float,double,array
# # in python
# int,float,double,list,dict,set,String,

In [24]:
# int
x = 5.0

In [25]:
type(x)

float

In [26]:
name = "Musharraf Hassan Butt"

In [27]:
type(name)

str

In [28]:
# list 
# dict
# set

In [33]:
x  =int(input("Whats your age?"))

Whats your age?12

In [34]:
print(x)

12

In [35]:
type(x)

int

In [36]:
x + 2

14